<?xml version='1.0' encoding='UTF-8'?>

<module xmlns="urn:jboss:module:1.1" name="com.squareup.okhttp3.okhttp">

    <resources>
        <resource-root path="okhttp-4.8.1.jar"/>
    </resources>

    <dependencies>
        <module name="org.jetbrains.kotlin.kotlin-stdlib"/>
        <module name="com.squareup.okio.okio"/>
    </dependencies>
</module>